

:root {
	/* 
		Sætter forskellige farver som variabler.
		Gør det lettere at rette senere hen.
	*/
	--primary-color: #24ab15;
	--secondary-color: #f4f4f4;
	--alert-color: #9534eb;
	
	/* Gør at tekstørrelsen er ens på alle computere. Og man kan bruge em og rem, som en brugelig størrels */
	font-size: 16px;
	
	--logo-font: 'Roboto Mono', monospace;
	--header-font: 'Montserrat', sans-serif;
	--paragraf-font: 'David Libre', serif;
}

body {
	background-color: var(--secondary-color);
	font-family: var(--paragraf-font);
}

img {
	display: block;
}



h2 {
	font-family: var(--header-font);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	color: #000;
}

#wrapper {
	max-width: 1100px;
	position: relative;
	margin: 2rem auto;
	background-color: var(--secondary-color);
}

.dropdown ul {
	background-color: var(--secondary-color);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90vw;
	z-index: 999;
	left: 5vw;
	position: relative;
	z-index: 800;
	top: 30px;
	background: var(--primary-color);
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
	height: 11vh;
	margin: 30px auto 0;
}



.flex-container {
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: right;
}

nav * {
	background: var(--primary-color);
	color: var(--secondary-color);
	text-decoration: none;
	position: relative;
	display: block;
}

.dropdown-container {
	width: 25%;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.logo-container {
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
	z-index: 999;
	padding: 0.5rem;
	text-align: left;
	left: -30px;
	box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
}

.logo-container a:hover {
	color: var(--secondary-color);
}


.dropdown {
	display: none;
	width: 100%;
	position: absolute;
	top: 100%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 5px;
	background-color: var(--secondary-color);
}

.hover-effekt {
	margin: 6px;
	width: 75%;
}

.hover-effekt a {
	transition: 0.3s;
	border-radius: 5px;
	padding: 0.2rem;
}

.hover-effekt-logo {
	width: 20%;
	margin-left: 5%;
	text-align: center;
	text-decoration: none;
	padding: 0.5vh;
	font-family: var(--logo-font);
}



.logo-animation {
	display: inline;
	animation: dot 2s infinite;
}

.hover-effekt:hover a {
	-color: var(--primary-color);
	-background-color: var(--alert-color);
	color: var(--secondary-color);
	text-decoration: none;
	box-shadow: 0 0 25px 5px rgba(0,0,0,0.5);
}

.dropdown-container:hover .dropdown {
	display: block;
}

.dropdown ul li {
	padding: 0.5em;
	text-align: left;
	transition: 0.3s;
	margin: 0.3em auto;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.dropdown ul li:hover {
	background-color: var(--alert-color);
}


a:hover {
	text-decoration: none;
	color: #000;
}


.container:hover {
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
}




footer {
	width: 90vw;
	margin: 2rem auto;
	background-color: var(--primary-color);
	list-style: none;
	box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
	padding: 2.5rem;
	position: relative;
	display: flex;
	align-content: space-evenly;
	justify-content: space-around;
	margin-bottom: 2rem;
}

footer * {
	color: var(--secondary-color) ;
}


.logo-container-footer {
	cursor: pointer;
	text-transform: uppercase;
	position: absolute;
	padding: 0.5rem;
	width: 10rem;
	z-index: 999;
	text-align: left;
	background-color: var(--primary-color);
	left: 90%;
	top: 10%;
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
}

.logo-container-footer:hover a {
	color: var(--secondary-color) !important;
}

.site-navigation {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 33%;
	border-right: 2px solid var(--secondary-color);
}

.site-navigation * {
	font-size: 1rem;
	text-align: left;
	
}


@keyframes dot {
	0% {
		opacity: 1;
	}
	2% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	52% {
		opacity: 0;
	}
}
