<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id="wrapper">

    <p> <b> Overskrift </b></p>

    <div class="container">
        <div class="row">
            <div class="col">
                <iframe src="http://www.youtube.com/embed/0Rclmyd14m8"
                        width="560" height="315" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col">
                <p> Forklarende tekst 1 </p>
                <p> Forklarende tekst 2 </p>
                <p> Forklarende tekst 3 </p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <p> <b> Overskrift </b></p>
    <div class="container">
        <div class="row">
            <div class="col">
                <iframe src="http://www.youtube.com/embed/0Rclmyd14m8"
                        width="560" height="315" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col">
                <p> Forklarende tekst 1 </p>
                <p> Forklarende tekst 2 </p>
                <p> Forklarende tekst 3 </p>
            </div>
        </div>
    </div>

    <br>
    <br>

    <p> <b> Overskrift </b></p>
    <div class="container">
        <div class="row">
            <div class="col">
                <iframe src="http://www.youtube.com/embed/0Rclmyd14m8"
                        width="560" height="315" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col">
                <p> Forklarende tekst 1 </p>
                <p> Forklarende tekst 2 </p>
                <p> Forklarende tekst 3 </p>
            </div>
        </div>
    </div>

</div>
</body>
</html>