<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<!-- GOOGLE fonts -->
	<link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Montserrat&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" />
	<title>
		STOP Madspild | en side hvor du kan lære om stopningen af madspild.
	</title>
    <style>
        .div-donate{

            margin-top: 40px;
            margin-left: 80px;
        }

        .image{
            margin: auto;
        }

        .donatation-recieved{
            border-color: chartreuse;
            border-style: solid;
            width: 350px;
            margin: auto;
            text-align: center;
            padding: 10px;
        }
        .overskriftIMG{
            margin: auto;
        }


    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: var(--secondary-color)">

<header>
	<nav>
		<div class="logo-container">
			<h2 ><a href="/" class="hover-effekt-logo">
				Stop Madspild..<span class="logo-animation">.</span>

			</a></h2>
		</div>

		<div class="flex-container">

			<div class="dropdown-container">
				<h2 class="hover-effekt"><a href="omOrg">Om os</a></h2>
			</div>
			<div class="dropdown-container">
				<h2 class="hover-effekt"><a href="/calc">Beregner</a></h2>
			</div>
			<div class="dropdown-container">
				<h2 class="hover-effekt"><a href="aktion">Aktion</a></h2>
			</div>
			<div class="dropdown-container">
				<h2 class="hover-effekt"><a href="/postDonationStart">Støt Os</a></h2>
			</div>
		</div>
	</nav>
</header>
<div id="wrapper">
    <img class="overskriftIMG" src="donationImage.jpg">

    <p><b>Overskrift</b></p>

    <div class="row">
        <div>
            <div class="col" style="width: 625px">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed ante ex, luctus quis justo in, sodales tempus metus.
                    Duis porttitor nisl sed massa mattis pharetra. Maecenas
                    condimentum at quam sit amet posuere. Duis scelerisque,
                    metus quis bibendum feugiat, urna dui dignissim augue, sit
                    amet tempus elit velit ac dolor. Nullam iaculis urna est.
                    Sed facilisis arcu a molestie mattis. Ut elit ipsum, venenatis
                    sit amet nulla ut, tempor aliquet erat. Aliquam maximus velit ex,
                    id iaculis odio tincidunt aliquam. Donec ut libero ut nunc facilisis
                    auctor. Maecenas quis purus nunc. In gravida est id risus tincidunt
                    cursus ac vitae ante.
                </p>
            </div>
        </div>
        <div>
            <div class="col-xs-1" align="center">

                <div class="div-donate">

                    <div id="form-container">
                        <form id="registration-container" action="/postDonation"method="post">
                        <div>

                            <p><b>Tak for din støtte!</b></p>
                            <img class="image" src="../greenheart.jpg" height="110" width="150">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>


        <div class="row" style="margin-top: 50px">
            <div class="col">

                <div class="donatation-recieved">
                    <p><label> Folk har støttet med </label>
                        <br>
                        <label style="font-size: 45px">
                            <span th:text="${#numbers.formatDecimal(donationToDisplay.getTotalDonation(), 1, 'DEFAULT', 2, 'DEFAULT') }"> </span>
                            <span>kr.</span>
                        </label>

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>



<footer>
	<div class="site-navigation">

		<div class="dropdown-container">
			<h2 class="hover-effekt"><a href="omOrg">Om os</a></h2>
		</div>
		<div class="dropdown-container">
			<h2 class="hover-effekt"><a href="/calc">Beregner</a></h2>
		</div>
		<div class="dropdown-container">
			<h2 class="hover-effekt"><a href="aktion">Aktion</a></h2>
		</div>
		<div class="dropdown-container">
			<h2 class="hover-effekt"><a href="/postDonationStart">Støt Os</a></h2>
		</div>

	</div>
	<div class="contact">
		<ul>
			<li>Telefon: +4527587476</li>
			<li>Addresse: Lygten 36, 2400 København NV</li>
			<li>Email: oscar.vinther@gmail.com</li>
			<li>CVR: 12345678</li>

			<i class="fab fa-instagram"></i>
		</ul>
	</div>
	<div class="logo-container-footer">
		<a href="/" class="hover-effekt-logo">
			Stop Madspild..<span class="logo-animation">.</span>

		</a></h2>
	</div>
</footer>
</body>
</html>
