<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" />
	<title>
		STOP Madspild | en side hvor du kan lære om stopningen af madspild.
	</title>
</head>
<body>
	<!-- HEADER -->
	<header>
		<nav>
			<div class="dropdown-container">
				<h2 ><a href="index.html" class="hover-effekt-logo">logo</a></h2>
			</div>

			<div class="flex-container">
				<!--ul class="dropdown-container">
					<li class="hover-effekt">
						<h2><a href="#">Beregner</a></h2>
					</li>
					<li class="dropdown">
						<ul>
							<li>test 1</li>
							<li>test 2</li>
						</ul>
					</li>
				</ul-->
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="omOrganisationen.html">Om os</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="beregner.html">Beregner</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="aktion.html">Aktion</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="donation.html">Donation</a></h2>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER END -->
	
	<div id="wrapper">
	<!-- Wrapper -->
	<main>

		<div class="container my-5">
			<a href="https://www.information.dk/udland/2020/05/mangel-paa-mad-truer-nyligt-ledige-usa-mens-overskudsbjerg-foedevarer-fordaerves?lst_tag">
			<div class="row">
				<div class="col-0.5">
					<img src="../static/protectiveCat.jpg"  style="width:125px;height:100px;">
				</div>
				<div class="col-9">
					<p> <b> Artikel Overskrift </b> </p>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua.</p>
				</div>
			</div>
			</a>
		</div>

		<div class="container my-5" >
			<div class="row">
				<div class="col-9">
					<p> <b> Artikel Overskrift </b> </p>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua.</p>
				</div>
				<div class="col-0.5">
					<img src="../static/protectiveCat.jpg" style="width:125px;height:100px;">
				</div>
			</div>
		</div>

		<div class="container my-5">
			<div class="row">
				<div class="col-0.5">
					<img src="../static/protectiveCat.jpg" style="width:125px;height:100px;">
				</div>
				<div class="col-9">
					<p> <b> Artikel Overskrift </b> </p>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua.</p>
				</div>
			</div>
		</div>

		<div class="container my-5">
			<div class="row">
				<div class="col-9">
					<p> <b> Artikel Overskrift </b> </p>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua.</p>
				</div>
				<div class="col-0.5">
					<img src="../static/protectiveCat.jpg" style="width:125px;height:100px;">
				</div>
			</div>
		</div>



	</main>
	<footer>
		<div class="contact">
			<ul>
				<li>Telefon: +4527587476</li>
				<li>Addresse: Lygten 36, 2400 København NV</li>
				<li>Email: oscar.vinther@gmail.com</li>

				<i class="fab fa-instagram"></i>
			</ul>
		</div>
	</footer>
</div>
<!-- Wrapper end-->
</body>
</html>
