<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="style.css" />
	<title>
		STOP Madspild | en side hvor du kan lære om stopningen af madspild.
	</title>
</head>
<body>
	<!-- HEADER -->
	<header>
		<nav>
			<div class="dropdown-container">
				<h2 ><a href="#" class="hover-effekt-logo">logo</a></h2>
			</div>

			<div class="flex-container">
				<!--ul class="dropdown-container">
					<li class="hover-effekt">
						<h2><a href="#">Beregner</a></h2>
					</li>
					<li class="dropdown">
						<ul>
							<li>test 1</li>
							<li>test 2</li>
						</ul>
					</li>
				</ul-->
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="#">Om os</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="#">Beregner</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="#">Aktion</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="#">donation</a></h2>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER END -->
	
	<div id="wrapper">
	<!-- Wrapper -->
	<main>

	</main>
	<footer>
		<div class="contact">
			<ul>
				<li>Telefon: +4527587476</li>
				
			</ul>
		</div>
	</footer>
</div>
<!-- Wrapper end-->
</body>
</html>
