<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css" />
	<title>
		STOP Madspild | en side hvor du kan lære om stopningen af madspild.
	</title>
</head>
<body>
	<!-- HEADER -->
	<header>
		<nav>
			<div class="dropdown-container">
				<h2 ><a href="index.html" class="hover-effekt-logo">logo</a></h2>
			</div>

			<div class="flex-container">
				<!--ul class="dropdown-container">
					<li class="hover-effekt">
						<h2><a href="#">Beregner</a></h2>
					</li>
					<li class="dropdown">
						<ul>
							<li>test 1</li>
							<li>test 2</li>
						</ul>
					</li>
				</ul-->
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="omOrganisationen.html">Om os</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="beregner.html">Beregner</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="aktion.html">Aktion</a></h2>
				</div>
				<div class="dropdown-container">
					<h2 class="hover-effekt"><a href="donation.html">Donation</a></h2>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER END -->
	
	<div id="wrapper">
	<!-- Wrapper -->
	<main>

		<div class="container my-5">
			<a href="https://www.information.dk/udland/2020/05/mangel-paa-mad-truer-nyligt-ledige-usa-mens-overskudsbjerg-foedevarer-fordaerves?lst_tag">
			<div class="row">
				<div class="col-0.5">
					<img src="../static/informationMadspild.jpg" style="width:150px;height:125px;">
				</div>
				<div class="col-9">
					<p> <b> Mangel på mad truer nyligt ledige i USA, mens et overskudsbjerg af fødevarer fordærves </b> </p>
					<p> Fødevarebanker er sat på en prøve i forbindelse med den voksende efterspørgsel på madvarer fra nødstedte familier. Nogle steder er behovet fordoblet. Det skorter ikke på donationer,
						men det kniber med at skaffe alle fødevarer på grund af knaphed</p>
				</div>
			</div>
			</a>
		</div>

		<div class="container my-5" >
			<a href="https://www.dr.dk/nyheder/indland/store-danske-virksomheder-lover-vi-halverer-vores-madspild-inden-2030">
			<div class="row">
				<div class="col-9">
					<p> <b> Store danske virksomheder lover: Vi halverer vores madspild inden 2030 </b> </p>
					<p> Fødevarebranchens største spillere lover i dag hinanden at smide mindre mad ud. Inden 2030 skal en lang række af fødevarebranchens største virksomheder have halveret deres madspild.
						Det har 27 virksomheder i dag skrevet under på ved et arrangement, hvor både fødevareminister Mogens Jensen (S) og prinsesse Marie deltog.</p>
				</div>
				<div class="col-0.5">
					<img src="../static/drMadspild.jpg" style="width:150px;height:125px;">
				</div>
			</div>
			</a>
		</div>

		<div class="container my-5">
			<a href="https://perspektiv.nu/da/artikler/artikler-efter-kategori/stoerre-bevidsthed-om-madspild.aspx?PID=75">
			<div class="row">
				<div class="col-0.5">
					<img src="../static/perspektivMadspild.jpg" style="width:150px;height:125px;"">
				</div>
				<div class="col-9">
					<p> <b> Større bevidsthed om madspild </b> </p>
					<p> Både i Danmark og Sverige smides tonsvis af mad ud hvert år. Nu er der sat fokus på mad-spildet, som skal begrænses ved hjælp af bl.a. nye
						holdninger, øget viden og bedre planlægning.</p>
				</div>
			</div>
			</a>
		</div>

		<div class="container my-5">
			<a href="https://www.information.dk/udland/2020/05/mangel-paa-mad-truer-nyligt-ledige-usa-mens-overskudsbjerg-foedevarer-fordaerves?lst_tag">
			<div class="row">
				<div class="col-9">
					<p> <b> Artikel Overskrift </b> </p>
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
						magna aliqua.</p>
				</div>
				<div class="col-0.5">
					<img src="../static/protectiveCat.jpg" style="width:150px;height:125px;">
				</div>
			</div>
			</a>
		</div>



	</main>
	<footer>
		<div class="contact">
			<ul>
				<li>Telefon: +4527587476</li>
				<li>Addresse: Lygten 36, 2400 København NV</li>
				<li>Email: oscar.vinther@gmail.com</li>

				<i class="fab fa-instagram"></i>
			</ul>
		</div>
	</footer>
</div>
<!-- Wrapper end-->
</body>
</html>
